{{ form_start(form, {attr: {class:'filter'}}) }}

<h4 style="padding-bottom: 4%;">Recherche par <br>
secteur d'activité</h4>
{{ form_row(form.activityarea) }}
<div style="padding-top: 1%"></div>

<button type='submit' class='btn btn-primary w100'>Filtrer</button>

{{ form_end(form) }}
