<form action="{{ path('resource_search') }}" method="get" class="d-flex">
	<input type="text" name="keyword" placeholder="Rechercher par mot clé..." class="form-control me-sm-2">
	<button type="submit" class="btn btn-research btn-secondary btn-sm my-2 my-sm-0">Rechercher</button>
</form>