{{ form_start(form, {attr: {class:'filter'}}) }}

<h4>Recherche par date</h4>

{{ form_row(form.from) }}

{{ form_row(form.to) }}

<button type='submit' class='btn btn-primary w100' style="background-color: #d2a4ce; color: #7d88a8; font-weight: bold; margin: 5%;">Filtrer</button>

{{ form_end(form) }}