<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/morph/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/morph/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/morph/_variables.scss"
    />
    </head>

    <h1>Bonjour !</h1>
    
      <div class="card bg-secondary mb-3" style="max-width: 30rem">
      <div class="card-body">
        <h4 class="card-title">Vous avez oublié votre mot de passe ?</h4>
        <p class="card-text">
          Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant :
          </br>
          <a
            href="{{ url('app_reset_password', { token: resetToken.token }) }}"
            >{{ url("app_reset_password", { token: resetToken.token }) }}</a
          >
          </br>
          </br>
          Ce lien expirera dans
          {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}}.
        </p>
      </div>
      <p>Bon retour parmis nous ! ⭐</p>
      <img src="https://upload.wikimedia.org/wikipedia/fr/e/e0/Logo_Montpellier_M%C3%A9diterran%C3%A9e_M%C3%A9tropole.svg" style="widht: 50px; height: 50px;" alt="agglo" border="0">
      </div>
  </head>
</html>
