{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<h1 style="text-align: center;">Espace Administrateur</h1>
<br></br>
<br></br>
<br></br>
	<h4 style="text-align: center;">Bienvenue, voici quelques conseils pour la gestion administrateur :</h4>
<br></br>
<br></br>
<ul>
	<li>On ne créer pas d'utilisateurs, car il est interdit d'afficher un mot de passe.</li><br>
	<li>On peut par contre modifier les informations des utilisateurs, ou même changer leurs rôles.</li><br>
	<li>Quand on clique sur l'adresse email, on peut envoyer un mail directement à la personne concernée.</li><br>
	<li>Les images sont à mettre sous forme de lien pour pouvoir créer une histoire/ressource éducative.</li><br>
	<li>Les champs avec ✱ sont obligatoires.</li><br>
	<li>Toute suppression est définitive.</li><br>
</ul>
{% endblock %}